:root{
    --background: #fff;
    --foreground: #6e07f3;
    --primary: #141c3a;
    --primary-light: #cdd3eb;
    --primary-foreground: #fff;
    --secondary: #5be8b9;
    --secundary-foreground:#141c3a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.button{
    display: inline-block;
    padding: 0.2rem;
    border-radius: 1.5rem;
    border: 2px solid var(--foreground);
    padding: 0.8rem 1.5rem;
    transition: all ease 1s;
}
.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}

header{
    margin-top: 2.5rem;
}
.menu_area{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}
.img_logo{
    width: 30px;
}
.nav_bar{
    display: none;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
    }
.bar{
    width: 3rem;
    height: 0.5rem;
    background-color: var(--primary);

}
.menu_open{
    display: flex;
    align-self: center;
    margin-right: 1rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav:hover{
    cursor: pointer;
}
header nav a{
    font-size: 1.5rem;
    color: var(--primary);
}
.button{
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--foreground);
}
.dev_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
}
.dev_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.dev_text h1{
    text-align: center;
    font-size: 2.5rem;
}
.dev_text h2{
    text-align: center;
}
.dev_icon{
    text-align: center;
    margin: auto;
}
.dev_icon img{
    text-align: center;
    width: 80%;
}

.dev_dados_area{
    background-color: var(--foreground);
    color: var(--primary-foreground);
    padding: 2rem;
    margin-top: -0.3rem;
    height: 40rem;
}
.dev_dados_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    height: 45vh;
    gap: 2rem;
}
.dev_dados_text h1{
    text-align: center;
    font-size: 3rem;
}
.dev_dados_text h2{
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
}
.dev_skils{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -7rem 1rem 0 1rem;
}

.dev_skils_area{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    border: 0.1rem solid var(--primary-light);
    background-color: var(--primary-foreground);
    padding: 1rem;
    
}
.radios{
    border-radius: 2rem 0 0 2rem;
}


.skils_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    gap: 3rem;
}
.skils_img{
    background-color: var(--secondary);
    border-radius: 10rem;
}
.skils_img img{
    width:7rem;
}
.text_h1{
    color: var(--foreground);
}
.skils_desc,
.skils_tools{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width <= 1201x){
  
}
@media (width <= 600px){
    .menu_area{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav_bar{
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        }
        .bar{
            width: 30px;
            height: 5px;
            background-color: var(--primary);
        
        }
        .menu_open{
            display: none;
            align-self: center;
            margin-top: 2rem;
        }
        nav{
            display: flex;
            flex-direction: column;
        }
        a{
            color: var(--foreground);
        }
        .button{
            padding: 5px;
            border-radius: 10px;
            border: 2px solid var(--foreground);
        }
        .button:hover{
            cursor: pointer;
        
        
        }
        .dev_text h1{
            font-size: 2rem;
        }
        .dev_dados_text h1{
            font-size: 2rem;
        }
        .dev_dados_text h2{
            line-height: 3rem;
            font-size: 1.5rem;
         
            text-align: center;
        }
        .dev_skils{
            display: grid;
            grid-template-columns: 1fr;
            margin: -7rem 1rem 0 1rem;
        }
        .dev_skils{
            justify-items: center;
        }
        .dev_skils_area{
          width: 50%;
            
        }
        .radios{
            border-radius: 2rem 2rem 0 0;
        }
        .radios2{
            border-radius: 0 0 2rem 2rem;
        }
}
